<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create your account</title>
</head>
<body>
    <div class="auth-container">
        <div class="auth-logo">
            <svg viewBox="0 0 24 24" aria-hidden="true">
                <g><path d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z"></path></g>
            </svg>
        </div>
        
        <h1 class="auth-title">Create your account</h1>
        
        <form [formGroup]="signUpForm" (ngSubmit)="signUpUser()">
            <div class="form-group">
                <label class="form-label">Create Username</label>
                <input type="text" class="form-input"
                formControlName="username" required name="username">
                <div *ngIf="signUpForm.get('username')?.invalid && (signUpForm.get('username')?.dirty || signUpForm.get('username')?.touched)" class="error-message">
                    <div *ngIf="signUpForm.get('username')?.errors?.['required']">username is required</div>
                    <div *ngIf="signUpForm.get('username')?.errors?.['pattern']">Please enter a valid email or username</div>
                </div>
            </div>
            
            <div class="form-group">
                <label class="form-label">Enter Email</label>
                <input type="text" class="form-input"
                formControlName="userEmail" required name="userEmail">
                <div *ngIf="signUpForm.get('userEmail')?.invalid && (signUpForm.get('userEmail')?.dirty || signUpForm.get('userEmail')?.touched)" class="error-message">
                    <div *ngIf="signUpForm.get('userEmail')?.errors?.['required']">Email is required</div>
                    <div *ngIf="signUpForm.get('userEmail')?.errors?.['pattern']">Please enter a valid email</div>
                </div>
            </div>

            <div class="form-group">
                <label class="form-label">Create Password</label>
                <input type="password" class="form-input"
                formControlName="password" required name="password">
                <div *ngIf="signUpForm.get('password')?.invalid && (signUpForm.get('password')?.dirty || signUpForm.get('password')?.touched)" class="error-message">
                    <div *ngIf="signUpForm.get('password')?.errors?.['required']">Password is required</div>
                    <div *ngIf="signUpForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters</div>
                </div>
            </div>
            
            <!-- <div class="form-group">
                <label class="form-label">Date of birth</label>
                <p class="auth-subtitle" style="margin-bottom: 16px;">This will not be shown publicly. Confirm your own age, even if this account is for a business, a pet, or something else.</p>
                <input type="date" class="form-input" name="dob" required>
            </div> -->
            
            <button (click)="signUpUser()" type="submit" class="form-button">Sign Up</button>
        </form>
        
        <div class="switch-auth">
            Have an account already? <a routerLink="/login" class="auth-link">Sign in</a>
        </div>
    </div>
</body>
</html>