    <div class="post-view__container">
        <!-- Main Post -->
        <div class="post-view__main-post">
            <div class="post-view__user-info">
                <div class="post-view__avatar">JD</div>
                <div class="post-view__user-details">
                    <div>
                        <span class="post-view__username">{{post.postAuthor}}</span>
                        <span class="post-view__handle">{{post.postAuthor}}</span>
                    </div>
                    <div class="post-view__timestamp">{{post.postDate | date:'mediumDate'}}</div>
                </div>
            </div>
            
            <div class="post-view__content">
                {{post.postContent}}
            </div>
            
            <div class="post-view__engagement">
                <div class="post-view__engagement-item">
                    <svg class="post-view__engagement-icon" viewBox="0 0 24 24">
                        <path d="M1.751 10c0-4.42 3.584-8 8.005-8h4.366c4.49 0 8.129 3.64 8.129 8.13 0 2.96-1.607 5.68-4.196 7.11l-8.054 4.46v-3.69h-.067c-4.49.1-8.183-3.51-8.183-8.01z"/>
                    </svg>
                    <span>{{post.postComments}}</span>
                </div>
                <div class="post-view__engagement-item">
                    <svg class="post-view__engagement-icon" viewBox="0 0 24 24">
                        <path d="M16.697 5.5c-1.222-.06-2.679.51-3.89 2.16l-.805 1.09-.806-1.09C9.984 6.01 8.526 5.44 7.304 5.5c-1.243.07-2.349.78-2.91 1.91-.552 1.12-.633 2.78.479 4.82 1.074 1.97 3.257 4.27 7.129 6.61 3.87-2.34 6.052-4.64 7.126-6.61 1.111-2.04 1.03-3.7.477-4.82-.561-1.13-1.666-1.84-2.908-1.91zm4.187 7.69c-1.351 2.48-4.001 5.12-8.379 7.67l-.503.3-.504-.3c-4.379-2.55-7.029-5.19-8.382-7.67-1.36-2.5-1.41-4.86-.514-6.67.887-1.79 2.647-2.91 4.601-3.01 1.651-.09 3.368.56 4.798 2.01 1.429-1.45 3.146-2.1 4.796-2.01 1.954.1 3.714 1.22 4.601 3.01.896 1.81.846 4.17-.514 6.67z"/>
                    </svg>
                    <span>{{post.likesCount}}</span>
                </div>
            </div>
        </div>

        <div class="post-view__comments-section">
            <div class="post-view__comments-header">Comments</div>
            
            <div class="post-view__comment" *ngFor="let comment of comments">
                <div class="post-view__comment-user">
                    <div class="post-view__comment-avatar">SM</div>
                    <div class="post-view__comment-content">
                        <div class="post-view__comment-header">
                            <span class="post-view__comment-username">{{comment.commentAuthor}}</span>
                            <span class="post-view__comment-handle">{{comment.commentAuthor}}</span>
                            <span class="post-view__comment-time">• {{comment.commentDate | date:'mediumDate'}}</span>
                        </div>
                        <div class="post-view__comment-text">
                            {{comment.commentContent}}
                        </div>
                        <div class="post-view__comment-actions">
                            <div class="post-view__comment-action">
                                <svg class="post-view__comment-icon" viewBox="0 0 24 24">
                                    <path d="M1.751 10c0-4.42 3.584-8 8.005-8h4.366c4.49 0 8.129 3.64 8.129 8.13 0 2.96-1.607 5.68-4.196 7.11l-8.054 4.46v-3.69h-.067c-4.49.1-8.183-3.51-8.183-8.01z"/>
                                </svg>
                                <span>2</span>
                            </div>
                            <div class="post-view__comment-action">
                                <svg class="post-view__comment-icon" viewBox="0 0 24 24">
                                    <path d="M16.697 5.5c-1.222-.06-2.679.51-3.89 2.16l-.805 1.09-.806-1.09C9.984 6.01 8.526 5.44 7.304 5.5c-1.243.07-2.349.78-2.91 1.91-.552 1.12-.633 2.78.479 4.82 1.074 1.97 3.257 4.27 7.129 6.61 3.87-2.34 6.052-4.64 7.126-6.61 1.111-2.04 1.03-3.7.477-4.82-.561-1.13-1.666-1.84-2.908-1.91zm4.187 7.69c-1.351 2.48-4.001 5.12-8.379 7.67l-.503.3-.504-.3c-4.379-2.55-7.029-5.19-8.382-7.67-1.36-2.5-1.41-4.86-.514-6.67.887-1.79 2.647-2.91 4.601-3.01 1.651-.09 3.368.56 4.798 2.01 1.429-1.45 3.146-2.1 4.796-2.01 1.954.1 3.714 1.22 4.601 3.01.896 1.81.846 4.17-.514 6.67z"/>
                                </svg>
                                <span>5</span>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>

        </div>
    </div>